@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder
@import com.cjwwdev.views.html.templates.MainTemplate

@()(implicit request: Request[_], messages: MessagesApi, lang: Lang, links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])

@MainTemplate(title = "Tear down test user", links, navBarRoutes) {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6">
                    <div class="page-header">
                        <h1 id="main-heading" class="pageTitle text-center">Test action complete</h1>
                    </div>
                </div>

                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
}