@import models.feed.FeedItem

@(feed : Option[List[FeedItem]])(implicit messagesApi: MessagesApi)

@image(source : String) = {
    @source match {
        case "auth-service" => {
            @{"logo"}
        }
        case "deversity-frontend" => {
            @{"Deversity_Black"}
        }
        case "diagnostics-frontend" => {
            @{"Diag_Black"}
        }
    }
}

@if(feed.isDefined) {
    @for((feedItem, count) <- feed.get.zipWithIndex) {
        <div id="feed-item-@count" class="media">
            <div class="media-left">
                <img class="media-object" src="@routes.Assets.versioned(s"images/${image(feedItem.sourceDetail.service).toString.replace(" ", "")}.png")" width="100px" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@feedItem.eventDetail.title</h4>
                @feedItem.eventDetail.description on
                @feedItem.generated.dayOfWeek().getAsText
                @feedItem.generated.dayOfMonth().get()
                @feedItem.generated.monthOfYear().getAsText()
            </div>
        </div>
        <hr>
    }
} else {
    <p id="no-feed-content" class="text-center">@messagesApi("pages.dashboard.feed.no-content")</p>
}
