@import models.accounts.UserAccount
@import models.accounts.UserProfile
@import models.accounts.NewPasswords
@(userInformation : UserAccount, profile : Form[UserProfile], passwords : Form[NewPasswords])(implicit request : Request[_])

@import views.html.helpers.{textInput, disabledTextInput}

@colourSwitcher(random : Int) = {
    @random match {
        case 0 => {
            #0A5A95
        }
        case 1 => {
            #F08B16
        }
        case 2 => {
            #9A090C
        }
        case 3 => {
            #57920B
        }
        case _ => {
            #0A5A95
        }
    }
}

@main_template(title = "CJWW Account - dashboard") {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <strong>This is your profile @request.session("firstName")</strong>
                        </div>
                        <div class="panel-body">
                            <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet">
                                <g>
                                    <circle fill="@colourSwitcher(scala.util.Random.nextInt(4))" r="50%" cx="50%" cy="50%" class="circle-back" />
                                    <text fill="#ffffff" font-size="45" font-family="Verdana" x="50%" y="60%">
                                        <tspan text-anchor="middle">@request.session("firstName").head@request.session("lastName").head</tspan>
                                    </text>
                                </g>
                            </svg>
                        </div>

                            <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">@userInformation.firstName @userInformation.lastName</li>
                            <li class="list-group-item">@userInformation.userName</li>
                            <li class="list-group-item">@userInformation.email</li>
                            <li class="list-group-item">
                                <button class="btn btn-primary"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit profile</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="page-header">
                        <h1 id="main-title" onclick="setTitle()" class="pageTitle">Welcome @userInformation.firstName @userInformation.lastName</h1>
                    </div>

                    <div>
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation">
                                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                                </a>
                            </li>

                            <li role="presentation" class="active">
                                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
                                </a>
                            </li>

                            <li role="presentation">
                                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="home">
                                ...
                            </div>

                            <div role="tabpanel" class="tab-pane active" id="profile">
                                <h2>Edit your profile</h2>

                                <form action="@controllers.user.routes.DashboardController.updateProfile()" method="post">
                                    @textInput(profile("firstName"), "firstName", "First name", "First name", "text")

                                    @textInput(profile("lastName"), "lastName", "Last name", "Last name", "text")

                                    @disabledTextInput(profile("userName"), "userName", "User name", "User name", "text")

                                    @textInput(profile("email"), "email", "Email", "Email", "text")

                                    <div class="form-group">
                                        <div class="input-group">
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Update your profile</button>
                                        </div>
                                    </div>
                                </form>

                                <hr>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="settings">
                                <h2>Change your password</h2>

                                <form action="" method="post">
                                    @textInput(passwords("oldPassword"), "oldPassword", "Old password", "Old password", "password")

                                    @textInput(passwords("newPassword"), "newPassword", "New password", "New password", "password")

                                    @textInput(passwords("confirmPassword"), "confirmPassword", "Confirm password", "Confirm password", "password")

                                    <div class="form-group">
                                        <div class="input-group">
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change your password</button>
                                        </div>
                                    </div>
                                </form>

                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script >
        function setTitle() {
            var title = document.getElementById("main-title");

            var optionA = "Welcome @userInformation.firstName @userInformation.lastName";
            var optionB = "Welcome @userInformation.firstName";
            var optionC = "Welcome @userInformation.userName";

            if(title.innerHTML == optionA) {
                title.innerHTML = optionB;
            } else if (title.innerHTML == optionB) {
                title.innerHTML = optionC;
            } else if(title.innerHTML == optionC) {
                title.innerHTML = optionA;
            } else {
                title.innerHTML = "error";
            }
        }
    </script>
}