@import models.accounts.{UserAccount, FeedItem}

@(userInformation : UserAccount, feed : Option[List[FeedItem]])(implicit request : Request[_])

@import controllers.user.{routes => userRoutes}
@import views.html.helpers.feedItem
@import services.EditProfileService.getDisplayImageURL

@colourSwitcher(random : Int) = {
    @random match {
        case 0 => {
            #0A5A95
        }
        case 1 => {
            #F08B16
        }
        case 2 => {
            #9A090C
        }
        case 3 => {
            #57920B
        }
        case _ => {
            #0A5A95
        }
    }
}

@displayNameSelector(option : String) = {
    @option match {
        case "full" => {
            @userInformation.firstName @userInformation.lastName
        }
        case "short" => {
            @userInformation.firstName
        }

        case "user" => {
            @userInformation.userName
        }
    }
}

@displayNameColour(account: UserAccount) = {
    @if(account.settings.isDefined) {
        @if(account.settings.get.get("displayNameColour").isDefined) {
            @account.settings.get.get("displayNameColour")
        } else {
            #FFFFFF
        }
    } else {
        #FFFFFF
    }
}

@main_template(title = "CJWW Account - dashboard") {
    <div class="cjww-jumbo-background" style="background: url('@{getDisplayImageURL(Some(userInformation))}') fixed center no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <object>
                        <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet">
                            <g>
                                <circle fill="@colourSwitcher(scala.util.Random.nextInt(4))" r="50%" cx="50%" cy="50%" class="circle-back" />
                                <text fill="#ffffff" font-size="45" font-family="Verdana" x="50%" y="60%">
                                    <tspan text-anchor="middle">@request.session("firstName").head@request.session("lastName").head</tspan>
                                </text>
                            </g>
                        </svg>
                    </object>
                </div>
            </div>

            <div class="row">
                <div class="col-md-11">
                    <h1 id="main-title" class="page-title" style="color: @displayNameColour(userInformation)">Welcome
                        @if(userInformation.settings.isDefined){
                            @if(userInformation.settings.get.get("displayName").isDefined) {
                                @displayNameSelector(userInformation.settings.get("displayName"))
                            } else {
                                @userInformation.firstName @userInformation.lastName
                            }
                        } else {
                            @userInformation.firstName @userInformation.lastName
                        }
                    </h1>
                </div>

                <div class="col-md-1">
                    <div class="btn-group cjww-button">
                        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Change cover picture</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@userRoutes.EditProfileController.show()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit Profile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>Quick links</h2>
                    <hr>
                    <div class="list-group">
                        <a href="@userRoutes.EditProfileController.show()" class="list-group-item">
                            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit profile</h4>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages <span class="badge">0</span></h4>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> View saved work</h4>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> View problem reports</h4>
                        </a>
                    </div>
                </div>

                <div class="col-md-9">
                    <h2>Your feed</h2>
                    <hr>

                    @feedItem(feed)
                </div>
            </div>
        </div>
    </div>
}