@import models.accounts.BasicDetails
@import models.accounts.Settings
@import models.accounts.DeversityEnrolment
@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder
@import com.cjwwdev.views.html.templates.MainTemplate
@import models.feed.FeedItem
@import services.EditProfileService.{getDisplayImageURL, getDisplayNameColour}

@import com.cjwwdev.auth.models.CurrentUser
@(feed: Option[List[FeedItem]],
  basicDetails: BasicDetails,
  settings: Settings,
  deversityEnrolment: Option[DeversityEnrolment])(implicit request: Request[_], user: CurrentUser, messages: MessagesApi, lang: Lang, links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])

@import controllers.user.{routes => userRoutes}
@import views.html.helpers.feedItem

@colourSwitcher(random : Int) = {
    @random match {
        case 0 => {
            #0A5A95
        }
        case 1 => {
            #F08B16
        }
        case 2 => {
            #9A090C
        }
        case 3 => {
            #57920B
        }
        case _ => {
            #0A5A95
        }
    }
}

@displayNameSelector(option : String) = {
    @option match {
        case "full" => {
            @basicDetails.firstName @basicDetails.lastName
        }
        case "short" => {
            @basicDetails.firstName
        }
        case "user" => {
            @basicDetails.userName
        }
    }
}

@MainTemplate(title = messages("pages.dashboard.title"), links, navBarRoutes) {
    <div class="cjww-jumbo-background" style="background: url('@{getDisplayImageURL(settings)}') fixed center no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <object>
                        <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet">
                            <g>
                                <circle fill="@colourSwitcher(scala.util.Random.nextInt(4))" r="50%" cx="50%" cy="50%" class="circle-back" />
                                <text fill="#ffffff" font-size="45" font-family="Verdana" x="50%" y="60%">
                                    <tspan text-anchor="middle">@request.session("firstName").head@request.session("lastName").head</tspan>
                                </text>
                            </g>
                        </svg>
                    </object>
                </div>
            </div>

            <div class="row">
                <div class="col-md-11">
                    <h1 id="main-heading" class="page-title" style="color: @{getDisplayNameColour(settings)}">@messages("pages.dashboard.heading", displayNameSelector(settings.displayName))</h1>
                </div>

                <div class="col-md-1">
                    <div class="btn-group cjww-button">
                        <button id="cover-photo-dropdown" class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> @messages("pages.dashboard.cover-photo.dropdown.one")</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@userRoutes.EditProfileController.show()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @messages("pages.dashboard.cover-photo.dropdown.two")</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>@messages("pages.dashboard.quick-links.heading")</h2>
                    <hr>
                    <div class="list-group">
                        <a id="edit-profile-link" href="@userRoutes.EditProfileController.show()" class="list-group-item">
                            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @messages("pages.dashboard.quick-links.list.one")</h4>
                        </a>
                        @*<a id="message-link" href="#" class="list-group-item">*@
                        @*<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> @messages("pages.dashboard.quick-links.list.two") <span class="badge">0</span></h4>*@
                        @*</a>*@
                        @*<a id="saved-work-link" href="#" class="list-group-item">*@
                        @*<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> @messages("pages.dashboard.quick-links.list.three")</h4>*@
                        @*</a>*@
                        @*<a id="problem-reports-link" href="#" class="list-group-item">*@
                        @*<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> @messages("pages.dashboard.quick-links.list.four")</h4>*@
                        @*</a>*@
                        @if(deversityEnrolment.fold(false)(_.role == "teacher")) {
                            <a href="@controllers.user.routes.GenerateCodeController.getRegistrationCodeShow()" id="registration-code-link" class="list-group-item">
                                <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-qrcode"></span> @messages("pages.dashboard.quick-links.list.five")</h4>
                            </a>
                            <a href="@controllers.user.deversity.routes.ClassroomController.manageClassRooms()" id="manage-classroom-link" class="list-group-item">
                                <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-list-alt"></span> @messages("pages.dashboard.quick-links.list.six")</h4>
                            </a>
                        }
                    </div>

                    @if(deversityEnrolment.isDefined) {
                        <h2>@messages("pages.dashboard.enrolment-status.heading")</h2>
                        <hr>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">@messages("pages.dashboard.enrolment-status.heading-two")</h3>
                            </div>

                            @if(deversityEnrolment.isDefined) {
                                <ul class="list-group">
                                    <li id="deversity-role" class="list-group-item text-center"><h4>@deversityEnrolment.map(_.role.capitalize)</h4></li>
                                    <li id="school-name" class="list-group-item text-center"><h4>@deversityEnrolment.map(_.schoolDevId)</h4></li>
                                    @if(deversityEnrolment.get.teacher.isDefined) {
                                        <li id="deversity-teacher" class="list-group-item text-center"><h4>@deversityEnrolment.map(_.teacher.map(_.capitalize))</h4></li>
                                    }
                                    @if(deversityEnrolment.get.room.isDefined) {
                                        <li id="teacher-room" class="list-group-item text-center"><h4>@deversityEnrolment.map(_.room.map(_.capitalize))</h4></li>
                                    }
                                </ul>
                            }
                        </div>
                    }
                </div>

                <div class="col-md-9">
                    <h2>@messages("pages.dashboard.feed.heading")</h2>
                    <hr>

                    @feedItem(feed)
                </div>
            </div>
        </div>
    </div>
}