@import models.accounts.{BasicDetails, DashboardDisplay, NewPasswords, UserProfile}
@import models.auth.AuthContext
@(profile : Form[UserProfile], passwords : Form[NewPasswords], displayname : Form[DashboardDisplay], basicDetails : BasicDetails)(implicit request : Request[_], authContext : Option[AuthContext])

@import views.html.helpers.{disabledTextInput, errorPanel, radioButton, textInput}

@main_template(title = "CJWW Account - dashboard") {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>@basicDetails.firstName @basicDetails.lastName's <small>profile</small></h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <h2>Basic Information</h2>
                    <hr>

                    <form action="@controllers.user.routes.EditProfileController.updateProfile()" method="post">
                        @textInput(profile("firstName"), "firstName", "First name", "Your first name", "text", "cjww-input-group-addon-oversized")
                        @textInput(profile("lastName"), "lastName", "Last name", "Your last name", "text", "cjww-input-group-addon-oversized")
                        @disabledTextInput(profile("userName"), "userName", "User name", "Your user name", "text", "cjww-input-group-addon-oversized")
                        @textInput(profile("email"), "email", "Email", "Your email address", "text", "cjww-input-group-addon-oversized")

                        <div class="form-group">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
                            </div>
                        </div>
                        <hr>
                    </form>
                </div>

                <div class="col-md-4">
                    @errorPanel(profile)
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <h2>Change your password</h2>
                    <hr>

                    <form id="password" action="@controllers.user.routes.EditProfileController.updatePassword()" method="post">
                        @textInput(profile("oldPassword"), "oldPassword", "Old password", "Your old password", "password", "cjww-input-group-addon-oversized")
                        @textInput(profile("newPassword"), "newPassword", "New password", "Your new password", "password", "cjww-input-group-addon-oversized")
                        @textInput(profile("confirmPassword"), "confirmPassword", "Confirm password", "Enter your new password again", "password", "cjww-input-group-addon-oversized")

                        <div class="form-group">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Update password</button>
                            </div>
                        </div>
                        <hr>
                    </form>
                </div>

                <div class="col-md-4">
                    @errorPanel(passwords)
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <h2>Account settings</h2>
                    <hr>

                    <form action="@controllers.user.routes.EditProfileController.updateSettings()" method="post">
                        <div class="well">
                            <h3>Dashboard settings</h3>

                            <p>This is your dashboard image (paste the url to your image here)</p>
                            @textInput(displayname("displayImageURL"), "displayImageURL", "Image URL", "The URL to the image your would like on your dashboard", "text", "cjww-input-group-addon-oversized")

                            <p>This is the name displayed on your dashboard</p>
                            <div class="form-group form-inline">
                                @radioButton(displayname("displayName"), "displayName", "displayName1", "Full name", "full")
                                @radioButton(displayname("displayName"), "displayName", "displayName2", "First name only", "short")
                                @radioButton(displayname("displayName"), "displayName", "displayName3", "User name", "user")
                            </div>

                            <p>This the text colour of your display name</p>
                            <div class="form-group">
                                <label class="btn btn-primary" for="displayNameColour">
                                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                    Choose colour
                                    <input id="displayNameColour" type="color" name="displayNameColour">
                                </label>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-4">
                    @errorPanel(displayname)
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><strong>Delete your account</strong></div>
                        <div class="panel-body">
                            <p class="text-danger">DANGER! This action <strong>can't</strong> be reversed</p>
                            <p class="text-danger">You will be asked to enter your user name and password to confirm</p>

                            <div class="form-group">
                                <div class="input-group">
                                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete your account</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        console.log("@displayname("displayNameColour").value.get");
        document.getElementById("displayNameColour").value = "@{displayname("displayNameColour").value.get}";
    </script>
}