@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder
@import com.cjwwdev.views.html.templates.MainTemplate

@()(implicit request: Request[_], messages: Messages, messagesApi: MessagesApi, links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])

@MainTemplate(title = messagesApi("misc.unavailable.title"), links, navBarRoutes) {
<div class="top-block-single">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="@routes.Assets.versioned("images/construction.png")" width="100%" alt="Under construction logo">
            </div>

            <div class="col-md-8">
                <h1 id="main-heading">@messagesApi("misc.unavailable.heading")</h1>
                <p id="error-message">@messagesApi("misc.unavailable.body")</p>
            </div>
        </div>
    </div>
</div>
}
