@(accType : String)(implicit request : Request[_])

@individual = {
    <p>You now have immediate access to</p>
    <ul class="list-bullet">
        <li><p>CJWW Diagnostics</p></li>
        <li><p>CJWW Hub</p></li>
    </ul>
    <p>Further information may be needed to access CJWW Deversity</p>
}

@organisation = {
    <p>You now have access to CJWW Deversity, meaning you are able to</p>
    <ul class="list-bullet">
        <li><p>Manage classes</p></li>
        <li><p>Track student progress</p></li>
        <li><p>Assess student work</p></li>
        <li><p>Present lessons</p></li>
    </ul>
}

@individualLogin = {
    <a class="btn btn-success" href="@controllers.login.routes.LoginController.show(None)"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a>
}

@organisationLogin = {
    <a class="btn btn-success" href="@controllers.login.routes.LoginController.show(None)"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a>
}

@main_template(title = "Welcome!") {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="responsive-container">
                        <div class="dummy"></div>

                        <div class="img-container">
                            <img src="@routes.Assets.versioned("images/logo.png")" width="100%" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <h1>Welcome, to CJWW</h1>
                    <p>You have successfully registered with us</p>
                    @if(accType == "individual"){
                        @individual
                    }
                    @if(accType == "organisation"){
                        @organisation
                    }
                    <p>Click below to log into your account</p>
                    @if(accType == "individual"){
                        @individualLogin
                    }
                    @if(accType == "organisation"){
                        @organisationLogin
                    }
                </div>
            </div>
        </div>
    </div>
}