@import models.registration.UserRegistration

@(register: Form[UserRegistration])(implicit request: Request[_])

@import controllers.register.{routes => registerRoutes}
@import views.html.helpers._

@main_template(title = "CJWW Account - Register"){
    <div class="top-block-single">
        <div class="container">

            <div class="row">
               <div class="col-md-2"></div>

               <div class="col-md-8">
                   <div class="panel panel-default">
                       <div class="panel-body">

                           <p class="text-center">
                               <img src="@routes.Assets.versioned("images/logo.png")" width="50%" alt="">
                           </p>

                           <div class="page-header">
                               <h1 class="pageTitle text-center">New around here?</h1>
                           </div>

                           <div class="row">
                               <div class="col-md-3"></div>
                               <div class="col-md-6">
                                    @errorPanel(register)
                               </div>
                               <div class="col-md-3"></div>
                           </div>

                           <form action="@registerRoutes.UserRegisterController.submit()" method="post">
                               @textInput(register("firstName"), "firstName", "First name", "First name", "text", "cjww-input-group-addon")

                               @textInput(register("lastName"), "lastName", "Last name", "Last name", "text", "cjww-input-group-addon")

                               @textInput(register("userName"), "userName", "User name", "User name", "text", "cjww-input-group-addon")

                               @textInput(register("email"), "email", "Email", "Email", "text", "cjww-input-group-addon")

                               @textInput(register("password"), "password", "Password", "Password", "password", "cjww-input-group-addon")

                               @textInput(register("confirmPassword"), "confirmPassword", "Confirm", "Confirm password", "password", "cjww-input-group-addon")

                               <div class="form-group">
                                   <div class="input-group">
                                       <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Register</button>
                                   </div>
                               </div>
                           </form>
                       </div>
                   </div>
               </div>

               <div class="col-md-2"></div>
            </div>
        </div>
    </div>
}
