@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder
@import com.cjwwdev.views.html.templates.MainTemplate
@import com.cjwwdev.views.html.helpers.{errorPanel, textInput}
@import models.registration.UserRegistration
@import controllers.register.{routes => registerRoutes}

@(register: Form[UserRegistration])(implicit request: Request[_], messages: Messages, messagesApi: MessagesApi, links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])

@MainTemplate(title = messagesApi("pages.user-register.title"), links, navBarRoutes) {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <p class="text-center">
                                <img src="@routes.Assets.versioned("images/logo.png")" width="50%" alt="">
                            </p>

                            <div class="page-header">
                                <h1 class="pageTitle text-center">@messagesApi("pages.user-register.heading")</h1>
                            </div>

                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                @errorPanel(register)
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                            <form action="@registerRoutes.UserRegisterController.submit()" method="post">
                                @textInput(
                                    register("firstName"),
                                    false,
                                    '_sassClass   -> "cjww-input-group-addon",
                                    '_label       -> messagesApi("pages.user-register.text-entry.first-name.label"),
                                    '_inputType   -> "text",
                                    '_placeholder -> messagesApi("pages.user-register.text-entry.first-name.placeholder"),
                                    '_fieldName   -> "firstName"
                                )

                                @textInput(
                                    register("lastName"),
                                    false,
                                    '_sassClass   -> "cjww-input-group-addon",
                                    '_label       -> messagesApi("pages.user-register.text-entry.last-name.label"),
                                    '_inputType   -> "text",
                                    '_placeholder -> messagesApi("pages.user-register.text-entry.last-name.placeholder"),
                                    '_fieldName   -> "lastName"
                                )

                                @textInput(
                                    register("userName"),
                                    false,
                                    '_sassClass   -> "cjww-input-group-addon",
                                    '_label       -> messagesApi("pages.user-register.text-entry.user-name.label"),
                                    '_inputType   -> "text",
                                    '_placeholder -> messagesApi("pages.user-register.text-entry.user-name.placeholder"),
                                    '_fieldName   -> "userName"
                                )

                                @textInput(
                                    register("email"),
                                    false,
                                    '_sassClass   -> "cjww-input-group-addon",
                                    '_label       -> messagesApi("pages.user-register.text-entry.email.label"),
                                    '_inputType   -> "text",
                                    '_placeholder -> messagesApi("pages.user-register.text-entry.email.placeholder"),
                                    '_fieldName   -> "email"
                                )

                                @textInput(
                                    register("password"),
                                    false,
                                    '_sassClass   -> "cjww-input-group-addon",
                                    '_label       -> messagesApi("pages.user-register.text-entry.password.label"),
                                    '_inputType   -> "password",
                                    '_placeholder -> messagesApi("pages.user-register.text-entry.password.placeholder"),
                                    '_fieldName   -> "password"
                                )

                                @textInput(
                                    register("confirmPassword"),
                                    false,
                                    '_sassClass   -> "cjww-input-group-addon",
                                    '_label       -> messagesApi("pages.user-register.text-entry.confirm-password.label"),
                                    '_inputType   -> "password",
                                    '_placeholder -> messagesApi("pages.user-register.text-entry.confirm-password.placeholder"),
                                    '_fieldName   -> "confirmPassword"
                                )

                                <div class="form-group">
                                    <div class="input-group">
                                        <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> @messagesApi("app.common.register")</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
}
